body{
    background-color: black;
    overflow: hidden;
    margin-top: 50px;
}

#game-container {
    
    width: 800px;
    height: 800px;
    background-color: #111;
    position: relative;
    margin: auto;
    border: 2px solid white;
}

.ship {
    width: 50px;
    height: 30px;
    background-color: rgb(50, 223, 87);
    position: absolute;
    bottom: 1px;
    
}

.enemy {
    width: 40px;
    height: 40px;
    background-color: rgb(174, 0, 255);
    position: absolute;
    top: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 187, 0, 0.8);
}


.bullet {
    position: absolute;
    width: 5px;
    height: 15px;
    background-color: red;
}